// enable all inuit-flexbox capabilities
$inuit-layout-flex-grid-enable:  true !default;
$inuit-layout-fixed-grid-enable: true !default;
$inuit-layout-enable-order:      true !default;
$inuit-layout-enable-reverse:    true !default;
$inuit-layout-enable-offset:     true !default;

@import '../bower_components/inuit-defaults/settings.defaults';
@import '../bower_components/inuit-responsive-settings/settings.responsive';
@import '../bower_components/inuit-responsive-tools/tools.responsive';
@import '../bower_components/inuit-box-sizing/generic.box-sizing';
@import '../objects.flexbox';
