/*------------------------------------*\
    #FLEXBOX
\*------------------------------------*/

// Predefine the variables below in order to alter and enable specific features.
$inuit-flexbox-namespace:    $inuit-namespace !default;

$inuit-flexbox-spacing-unit: $inuit-base-spacing-unit !default;


.#{$inuit-flexbox-namespace}flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -$inuit-flexbox-spacing-unit;
  margin-left: -$inuit-flexbox-spacing-unit;
}

$i: 1;
@while $i < 12 {
  .flex__item--#{$i} {
    flex: $i 1 auto;
    }
  $i: $i + 1;
}

.flex--column {
  $i: 1;
  @while $i < 12 {
    .flex__item--1 {
      $flex-basis: 100/12*$i*1%;
      width: $flex-basis;
      flex: 0 1 auto;
    }
  $i: $i + 1;
  }
}
