/*------------------------------------*\
    #FLEXBOX
\*------------------------------------*/

// Predefine the variables below in order to alter and enable specific features.

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

$i: 1;
@while $i < 12 {
  .flex__item--#{$i} {
    flex: $i 1 auto;
    }
  $i: $i + 1;
}

.flex--column {
  $i: 1;
  @while $i < 12 {
    .flex__item--1 {
      $flex-basis: 100/12*$i*1%;
      width: $flex-basis;
      flex: 0 1 auto;
    }
  $i: $i + 1;
  }
}
